body {
    background-color: rgb(66, 61, 61);
}
/* Menú Inicial*/
.titulo {
    font-size: 100px;
    color: rgb(123, 201, 204);
}

#btn-menu {
    font-size: 30px;
    padding: 10px 20px;
    background-color: rgb(123, 201, 204);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-menu {
    text-align: center;
    margin-top: 20%;
}

/*Elección personaje*/
#seleccion-personaje{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skin-personaje{
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: #fff;
    margin-top: 80px;
}

#skin-personaje img{
    width: 200px;
    border: solid 2px rgb(123, 201, 204);
}
/*Efecto*/
#skin-personaje img:hover{
    border: solid 2px rgb(230, 245, 27);
    opacity: 0.6;
    cursor: pointer;
}

/*Botón*/
#eleccion-personajes{
    box-sizing: content-box;
    font-size: 20px;
    height: 30px;
    width: 130px;
    padding: 10px;
    background-color: rgb(123, 201, 204);
    margin-top: 55px;
    border-radius: 20px;
    border: solid 3px transparent
}
/*Efecto*/
#eleccion-personajes:hover{
    opacity: 0.8;
    border: solid 3px rgb(230, 245, 27);
    cursor: pointer;
}
/*Mantener imagen seleccionada*/
#skin-personaje img.selected{
    border: solid 5px rgb(230, 245, 27);
    opacity: 1;
    transform: scale(1.05);/*Efecto visual*/
}

/*Sección ataque*/
#ataque {
    flex-direction: row;
    justify-content: center;
}

.btn-ataque{
    font-size: 35px;
    width: 115px;
    height: 65px;
    background-color: #e9e1e1;
    border-color: transparent;
    margin: 15px;
    border-radius: 15px;
}

.contenedor-btn-continuar-ataque{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jugador h2{
    text-align: center;
    color: #fff;
}

#ataques-jugador{
    flex-direction: column;
}

/*Efecto mouse sobre las opciones de ataque*/
#ataques-jugador button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btn-continuar-ataque{
    box-sizing: content-box;
    font-size: 20px;
    height: 30px;
    width: 130px;
    padding: 10px;
    background-color: rgb(123, 201, 204);
    margin-top: 35px;
    border-radius: 20px;
    border: solid 3px transparent;
}

.btn-continuar-ataque:hover{
    opacity: 0.8;
    border: solid 3px rgb(230, 245, 27);
    cursor: pointer;
}

/*Batalla*/
#combate-muestra{
    display: none;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

#seleccionados{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

#jugador{
    border: solid 3px rgb(123, 201, 204);
    padding: 18px;
}

#jugador img{
    width: 180px;
}

#enemigo{
    border: solid 3px rgb(123, 201, 204);
    padding: 18px;
}

#enemigo img{
    width: 180px;
}

#resultado-batalla{
    margin-top: 30px;
    font-size: 40px;
    color: rgb(27, 245, 227);
}